.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2em 10em;
}

.cabecalho {
    align-items: center;
    display: flex;
   
}

.cabecalho__nome {
    color: var(--cinza-escuro);
    font-family: var(--fonte-principal);
    font-size: 18px;
    font-weight: 500;
    margin: 0 5em 0 0.5em;
    
}

.cabecalho__navegacao {
    display: flex;
    margin-left: 40px;
    gap: 30px
}


.cabecalho__itens { 
    color: var(--cinza);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
     
}

.login {
    align-items: center;
    display: flex;
    gap: 50px;  
}


.login__navegacao {
    color: var(--cinza);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.botao {
    padding: 10px 18px;
    border-radius: 8px;
    border: 1px solid var(--cor-botao);
    background: var(--vermelho);
    color: #fff;
    font-weight: 500;
}
