.sobre {
    padding: 96px 300px;
    text-align: center;
}

.sobre-nos {
    color: var(--vermelho);
    font-weight: 600;
}

.sobre__titulo {
    color: var(--azul-marinho);
    font-size: 48px;
    font-weight: 600;
    margin: 24px 0;
}

.sobre__texto {
    color: var(--cinza);
    font-size: 20px;
    font-weight: 400;
}

.resultados {
    display: flex;
    margin: 6em 10em;
}

.resultados__lista {
   padding: 2em;
   align-items: justify;
   min-width: 250px;
}

.resultados__texto {
    text-align: start;
}


.resultados__numero { 
    color: var(--vermelho);
    font-size: 60px;
    font-weight: 600;
}

.resultados__titulo {
    color: var(--azul-marinho);
    font-size: 18px;
    font-weight: 500;
    padding: 0.75em 0;
    flex-wrap: nowrap;
}

.resultados__texto {
    font-size: 16px;
    font-weight: 400;
    color: var(--cinza);
}